<!--<ng-include src="'navbar.html'"></ng-include>-->
<nav-bar navbar-data='navbarData'></nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class='table_container'>
                <h1>Your friends...</h1>
                <p>To edit information, click the row</p>
                <p>Search persons...empty search will fetch all your friends</p>
                <input type="search" class="form-control" value="Search" ng-model='search_term'/><br/>
                <button class="btn btn-default" value="Search" ng-click='search()'>
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='person in friendData' ng-click='rowCliked(person._id)'>
                            <td>{{person.name}}</td>
                            <td>{{person.address}}</td>
                            <td>{{person.age}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>   
        </div>    
        <div class="col-sm-6">
            <div class="jumbotron"><h1>This is jumbotron</h1></div>
        </div> 
    </div>        
</div>