/*use element selector to select all p elements for this style*/
p{
    color: blue;
    font-size: 10px;
}


h1{
    color: blue;
    font-size: 32px;
}
/*use class selector to define style for elements*/
.mun_keksima{
    
    background-color: aquamarine;
}

.form_container    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
width:550px;
height:230px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.form-control    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.input_container2    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.fancy{
    
    color: green;
    border: 2px;
    background-color: aquamarine;
    border-radius: 8px;
}

/*Use id selector to define style*/
#joku_tyyli{
    
    margin: 100px;
}

.login_container{
    
    width: 500px;
    margin: 8px auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blue;
    padding: 8px;
}

.form_container2{
    
    width: 500px;
    margin: 8px auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    padding: 8px;
}

.flash_container{
    
    width: 500px;
    margin: auto 0;
    position: absolute;
    background-color: white;
    padding: 8px;
}