
<!--Rule 1 everything must go inside container class -->
<div class="container">
    <!--Rule 2 every column must be inside a row! -->
    <div class="row">   
    <!-- Rule 3 columns are defined in row -->
        <div style="background-color:red;" class="col-sm-3">Column1</div>
        <div class="col-sm-3">Column2</div>
        <div class="col-sm-3">Column3</div>
        <div class="col-sm-3">Column4</div>
    </div>
<!-- <p class="error"></p> -->
  
<form class="form_container">
    <!--ng-model directive is the way to transfer data to controller (lisää user nimisen muuttuja scopeen) -->
    <input type="text" placeholder="username" class="form-control" ng-model="user"><br/>
    <input type="password" placeholder="password" class="form-control" ng-model='pass'><br/>
    <input type="button" value="Login" class="btn btn-default" ng-click='loginClicked()'>
    <input type="button" value="Register" class="btn btn-default" ng-click='registerClicked()'>
    <!--bind the data from username textfield (use the variable 'user')-->
    <li>{{user}}</li>
    <li>{{pass}}</li>
</form>
<div class="flash_container" flash-message="3000"></div> 
</div>