<a href="#/add">Add new friend</a>
<p class="error"></p>
  
<form class="form_container">
    <!--ng-model directive is the way to transfer data to controller (lisää user nimisen muuttuja scopeen) -->
    <input type="text" placeholder="username" class="form-control" ng-model="user"><br/>
    <input type="password" placeholder="password" class="form-control" ng-model='pass'><br/>
    <input type="button" value="Login" class="btn btn-default" ng-click='loginClicked()'>
    <input type="button" value="Register" class="btn btn-default" ng-click='registerClicked()'>
    <!--bind the data from username textfield (use the variable 'user')-->
    <li>{{user}}</li>
    <li>{{pass}}</li>
</form>
<div class="flash_container" flash-message="3000"></div> 
