<a href="/logout">Logout</a>
<a href="#/list">Friend list</a>

<form class='loginForm'>
    <h3>Add new friend info</h3>
    <!--ng-model directive is the way to tarnsfer data to controller -->
    <input class="form-control" type="text" placeholder="name" ng-model="name"><br/>
    <input class="form-control" type="text" placeholder="address" ng-model='address'><br/>
    <input class="form-control" type="text" placeholder="age" ng-model='age'><br/>
    <input id="save" class="btn btn-default" type="button" value="Save" ng-click='savePerson()'>
</form>
<div class="flash-style" flash-message="2000"></div> 


<!--
    <head>       
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script>
            // tehdään scripti tietojen lähetystä varten tähän. Sisältää nyt myös usernamen. Laita sisäiset scriptit ain head:iin
            $(document).ready(function(){
                
                $("#sendBtn").click(function(){
                    
                    var data = {
                        
                        user:localStorage['username'],  //['username'] --> <!--  myös .username. tai getItem
                        name:$("#name").val(),
                        address:$("#address").val(),
                        age:$("#age").val()
                    }
                    
                    $.ajax({
                        method:'POST',
                        url:'http://localhost:3000/persons',
                        data:data,
//                        dataType:"json"
                    }).done(function(data){
                        
                        window.location ="./persons.html";
                    
                    });
                });
            });
        </script>
    </head>    
        <body>
         
            <h1>Add new contact info</h1>
            
              <form>
                  
                    <input type="text" required placeholder="Your full name" id="name"><br/><br/>
                    <input type="text" required placeholder="Your full address" id="address"><br/><br/>
                    <input type="number" required placeholder="Your age" id="age"><br/><br/>
                    
                    <input id="sendBtn" type="button" value=" send">     
                                                                  
              </form> 
                                                                  
                                                                  

        </body> -->