<form>
    <!--ng-model directive is the way to transfer data to controller (lisää user nimisen muuttuja scopeen) -->
    <input type="text" placeholder="username" ng-model="user"><br/>
    <input type="password" placeholder="password" ng-model='pass'><br/>
    <input type="button" value="Login" ng-click='loginClicked()'>
    <input type="button" value="Register" ng-click='registerClicked()'>
    <!--bind the data from username textfield (use the variable 'user')-->
    <li>{{user}}</li>
</form>